/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}

p {
  line-height: 1.5em;
  margin: 10px;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}
#host ul {
  margin: -5px;
  justify-content: left;
  font-size: clamp(10px, 4vw, 18px);
}
#host p {
  font-size: clamp(10px, 4vw, 18px);
}
#host h2 {
  font-size: clamp(16px, 4vw, 26px);
}
#ideas .group {
  margin: 10px 20px 10px 10px;
}
#ideas h3 {
  font-size: clamp(10px, 4vw, 18px);
}
#ideas h2 {
  font-size: clamp(14px, 4vw, 26px);
}
#host .item {
  justify-items: center;
}
#about p {
  align-self: center;
  font-size: clamp(10px, 4vw, 18px);
}
#about h2 {
  font-size: clamp(18px, 4vw, 26px);
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
  flex: 1;
  margin: 10px;
  align-self: center;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */
#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  padding-bottom: 20px;
  justify-content: space-evenly;
}
#menu .item {
  margin-right: 0px;
}
header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 16vw;
  color: #fff;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: clamp(8px, 4vw, 18px);
}
header nav ul:first-child {
  margin-right: 45px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
#stay {
  margin-right: 0px;
}
#stay h2 {
  font-size: clamp(14px, 4vw, 26px);
}
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
form .location-search,
.arrive-search,
.depart-search,
.type-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: clamp(8px, 4vw, 18px);
}
form label {
  font-weight: bold;
  padding-right: 10px;
  text-align: left;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  min-width: 50px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: clamp(14px, 4vw, 18px);
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  #menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }
  header nav ul li a {
    font-size: 2vw;
  }
  .logo {
    font-size: 5vw;
    align-self: center;
    padding-bottom: 20px;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .rental-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  form .location-search,
  .arrive-search,
  .depart-search,
  .type-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  form input,
  form select {
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  form button {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 200px;
    justify-content: center;
    align-items: center;
  }
  #about .group {
    flex-direction: row;
  }
  #about .group p {
    flex: 2;
    font-size: clamp(8px, 2vw, 18px);
  }
  .item {
    width: 50%;
  }
  #about .item {
    width: 25%;
  }
  .first-row,
  .second-row {
    display: flex;
    flex-direction: row;
  }
  .forest {
    margin-right: 10px;
  }
  .rustic {
    margin-right: 10px;
  }
  #ideas .group {
    flex-direction: column;
    justify-content: space-between;
  }
  #ideas .item {
    width: 100%;
    max-width: 2000px;
  }
  #host .group {
    display: flex;
    flex-direction: row;
  }
  .host-info {
    justify-self: center;
    align-self: center;
  }
  #host ul {
    margin: -5px;
    justify-content: left;
    font-size: clamp(10px, 2vw, 16px);
  }
  #host p {
    font-size: clamp(10px, 2vw, 16px);
  }
  #host h2 {
    font-size: clamp(16px, 2.5vw, 26px);
  }
}
